<h1>Listing horarios</h1>

<table>
  <tr>
    <th>Professor</th>
    <th>Dia semana</th>
    <th>Horario1</th>
    <th>Horario2</th>
    <th>Horario3</th>
    <th>Horario4</th>
    <th>Horario5</th>
    <th>Horario6</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @horarios.each do |horario| %>
  <tr>
    <td><%= horario.professor %></td>
    <td><%= horario.dia_semana %></td>
    <td><%= horario.horario1 %></td>
    <td><%= horario.horario2 %></td>
    <td><%= horario.horario3 %></td>
    <td><%= horario.horario4 %></td>
    <td><%= horario.horario5 %></td>
    <td><%= horario.horario6 %></td>
    <td><%= link_to 'Show', horario %></td>
    <td><%= link_to 'Edit', edit_horario_path(horario) %></td>
    <td><%= link_to 'Destroy', horario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Horario', new_horario_path %>
