<p id="notice"><%= notice %></p>

<p>
  <b>Professor:</b>
  <%= @horario.professor %>
</p>

<p>
  <b>Dia semana:</b>
  <%= @horario.dia_semana %>
</p>

<p>
  <b>Horario1:</b>
  <%= @horario.horario1 %>
</p>

<p>
  <b>Horario2:</b>
  <%= @horario.horario2 %>
</p>

<p>
  <b>Horario3:</b>
  <%= @horario.horario3 %>
</p>

<p>
  <b>Horario4:</b>
  <%= @horario.horario4 %>
</p>

<p>
  <b>Horario5:</b>
  <%= @horario.horario5 %>
</p>

<p>
  <b>Horario6:</b>
  <%= @horario.horario6 %>
</p>


<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
