<%= form_for(@mapeamento) do |f| %>
  <% if @mapeamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mapeamento.errors.count, "error") %> prohibited this mapeamento from being saved:</h2>

      <ul>
      <% @mapeamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :data_semestre %><br />
    <%= f.text_field :data_semestre %>
  </div>
  <div class="field">
    <%= f.label :curso %><br />
    <%= f.select :curso, @cursos.collect {|p| [ p.nome, p.id ] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :disciplina %><br />
    <%= f.select :disciplina, @disciplinas.collect {|p| [ p.nome, p.id ] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :professor %><br />
    <%= f.select :professor, @professors.collect {|p| [ p.pessoa.nome, p.id ] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :turma %><br />
    <%= f.select :turma, @turmas.collect {|p| [ p.nome, p.id ] }, { :include_blank => true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
